button.saveXLS {
    border: 1px solid rgba(80, 120, 184, 0.95);
    border-radius: 2px;
    padding: 6px;
    background: rgba(63, 147, 199, 0.7);
    text-decoration: none;
    color: #000000;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
}
button.saveXLS:hover {
    background: rebeccapurple;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px #000;
}
