h2{
	text-align: center;
}

body{
	font-size: 20px;
	width: 1000px;
}

img{
	width: 1000px;
    margin: 5px 0;
    border: 1px solid grey;
}

/* подписи сторон в футере */
#contractFooter table{
	min-width: 1000px;
	text-align: center;
	font-size: 20px;
}

.signPlace{
    width: 350px;
    border-bottom: 1px solid black;
    margin: 20px auto;
	
}

@media print {
	button{
		display: none!important;
	}
	.noPrint{
		display: none!important; 
	}
};