.stair-master {
		background-color: white;
		height: calc(100% - 40px);
		overflow: hidden;
	}

	#masterTab{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 999;
		padding: 5px;
	}

	#masterTab .nav-item{
		background-color: rgba(255,255,255,0.5);
	}

	#geometryTab, #priceTab{
		padding: 20px;
	}

	#priceTab .move_form_container{
		border-radius: 5px;
		border: 1px solid lightgray;
		background-color: lightgray;
		background-color: rgba(0,0,0,.05);
		margin: 10px;
	}

	.stair-master .master-menu{
		overflow-y: auto;
	}

	.stair-master .visualisation canvas{
		width: 100% !important;
	}

	.stair-master-close {
		margin: auto;
	}

	.stair-master-close .close_modal {
		width: 100%;
		height: 40px;
		border: 1px solid black;
	}

	.master-step{
		display: none;
		overflow: auto;
		height: calc(100% - 60px);
		padding: 15px;
	}

	.master-buttons{
		margin: auto;
		text-align: center;
	}

	.master-buttons button{
		margin: 10px;
	}

	.opening_image img{
		width: calc(100% - 20px);
	}

	.cam_controls{
		position: sticky;
		top: 0px;
		z-index: 900;
		background-color: rgba(255,255,255,0.5);
		padding: 5px;
	}

	.move_form_container table, .move_form_container input, .move_form_container select{
		width: 100%;
	}

	#priceBlockMaster{
		float: right;
	}

	
	.master-step h2{
		margin: 15px auto;
	}
	
	.master-step h3{
		margin-top: 15px;
	}
	.master-step h4{
		margin-top: 15px;
	}	
	
	.master-step table{
		width: 100%;
	}
	
	.floorHoleParams .row{
		margin: 5px -15px;
	}